<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/images/cnps1.png"></ion-img>
      <ion-card-header>
        <!--<ion-card-subtitle>Get Started</ion-card-subtitle>-->
        <ion-card-title>CNPS - CAMEROUN</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>La Caisse nationale de Prévoyance sociale a pour mission d'assurer dans le cadre de la politique générale du Gouvernement, le service de diverses prestations prévues par la législation de protection sociale et familiale.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-item routerLink='/menuemployeur'>
        <ion-icon slot="start" color="primary" name="book"></ion-icon>
        <ion-label>Espace Employeur</ion-label>
      </ion-item>
      <ion-item routerLink='/menuemploye'>
        <ion-icon slot="start" color="primary" name="build"></ion-icon>
        <ion-label>Espace Employé</ion-label>
      </ion-item>
      <ion-item routerLink='/menuvolontaire'>
        <ion-icon slot="start" color="primary" name="grid"></ion-icon>
        <ion-label>Assuré Volotaire</ion-label>
      </ion-item>
      <ion-item routerLink='/declaration'>
        <ion-icon slot="start" color="primary" name="color-fill"></ion-icon>
        <ion-label>Télé Déclaration</ion-label>
      </ion-item>
      <ion-item routerLink='/infos'>
        <ion-icon slot="info" color="primary" name="informations"></ion-icon>
        <ion-label>Informations</ion-label>
      </ion-item>
    </ion-list>
</ion-content>